<form class="form-horizontal" id="payment">
    <fieldset>
        <legend>{{ text_credit_card }}</legend>
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-cc-owner">{{ entry_cc_owner }}</label>
            <div class="col-sm-10">
                <input type="text" name="cc_owner" value="" placeholder="{{ entry_cc_owner }}" id="input-cc-owner" class="form-control"/>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-cc-number">{{ entry_cc_number }}</label>
            <div class="col-sm-10">
                <iframe data-ifields-id="card-number" data-ifields-placeholder="Card Number" frameborder="0" height="34" src="https://cdn.cardknox.com/ifields/2.5.1905.0801/ifield.htm" width="100%"></iframe>
                <input data-ifields-id="card-number-token" name="xCardNum" type="hidden"/>
                <br/>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-cc-expire-date">{{ entry_cc_expire_date }}</label>
            <div class="col-sm-3">
                <select class="form-control" id="input-cc-expire-date" name="cc_expire_date_month">

                    {% for month in months %}

                        <option value="{{ month.value }}">{{ month.text }}</option>

                    {% endfor %}

                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" name="cc_expire_date_year">

                    {% for year in year_expire %}

                        <option value="{{ year.value }}">{{ year.text }}</option>

                    {% endfor %}

                </select>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-cc-cvv2">{{ entry_cc_cvv2 }}</label>
            <div class="col-sm-10">
                <iframe data-ifields-id="cvv" data-ifields-placeholder="CVV" frameborder="0" height="34" src="https://cdn.cardknox.com/ifields/2.5.1905.0801/ifield.htm" width="100%"></iframe>
                <input data-ifields-id="cvv-token" name="xCVV" type="hidden"/>
                <label data-ifields-id="card-data-error" id="ifieldsError"></label>
            </div>
        </div>
    </fieldset>
</form>
<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary"/>
    </div>
</div>
<script
    type="text/javascript">
    <!--
    var token = "{{ cardknox_token_key }}";
    var head = document.getElementsByTagName('head')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onload = function () {
        enableLogging();
        setAccount(token, "OpenCart3", "0.1.2");
        var style = {
            border: '1px solid #cccccc',
            'font-size': '12px',
            'padding-bottom': '6px',
            'padding-left': '12px',
            'padding-right': '12px',
            'padding-top': '6px',
            width: '254.5px',
            height: '20px',
            margin: '0px'
        };
        setIfieldStyle('card-number', style);
        setIfieldStyle('cvv', style);
    }
    script.src = 'https://cdn.cardknox.com/ifields/2.5.1905.0801/ifields.min.js';
    head.appendChild(script);
    $('#button-confirm').on('click', function (event) {
        event.preventDefault();
        getTokens(function () {
            // onSuccess
            // perform your own validation here...
            if ($("input[name=xCardNum]").val() === '') {
                alert("Card number required");
                event.preventDefault = false;
                return;
            }
            if ($("input[name=xCVV]").val() === '') {
                alert("CVV rquired");
                event.preventDefault = false;
                return;
            }
            $.ajax({
                url: 'index.php?route=extension/payment/cardknox/send',
                type: 'post',
                data: $('#payment :input'),
                dataType: 'json',
                cache: false,
                beforeSend: function () {

                    $('#button-confirm').button('loading');
                },
                complete: function () {
                    $('#button-confirm').button('reset');
                },
                success: function (json) {
                    if (json['error']) {
                        alert(json['error']);
                    } else if (json['redirect']) {
                        location = json['redirect'];
                    }
                }
            });
        }, function () { // onError
            $.ajax({
                url: 'index.php?route=extension/payment/cardknox/error',
                type: 'post',
                data: {
                    error: document.getElementById('ifieldsError').textContent
                },
                dataType: 'json',
                cache: false,
                beforeSend: function () {},
                success: function (json) {}
            });

            alert(document.getElementById('ifieldsError').textContent);
            event.preventDefault = false;
            return;
        },
        // 30 second timeout
            30000);
    });
    //--></script>
